
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.App {
  text-align: center;
  background-color: black;
  color: white;
  width: 100vw;
  height: 100vh;
  font-family: Roboto;
  overflow-x: hidden;
}


.profile {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.descripcion {
  text-align: center;
}

.puesto {
  font-weight: bold;
}

.contacto li {
  display: inline;
  text-align: center;
  margin-left: 5vh;
}

.contacto {
  margin-top: 10vh;
  margin-bottom: 5vh;
  padding-right: 10vh;

}

.footer {
  text-align: center;
}

.skills{
  display: inline;
}

a.linkedin:hover{
  transform: translateY(-2px);
}